@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



/*
=========================
      CSS RESET
=========================
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
ul li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none; color: inherit;}
img {vertical-align: bottom;}

/*
=========================
      GRID SYSTEM
=========================
*/

body{
  font-family: 'Nanum Gothic', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

[class*="col-"]{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.col-right {
    float: right;
}

.row {
    margin: 0 -10px;
}

.clearfix {
    clear: both;
}

.row:after,
.clearfixafter,
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.fit {
    padding: 0;
}


    .col-1  {width: 8.33%;}
    .col-2  {width: 16.66%;}
    .col-3  {width: 25%;}
    .col-4  {width: 33.33%;}
    .col-5  {width: 41.66%;}
    .col-6  {width: 50%;}
    .col-7  {width: 58.33%;}
    .col-8  {width: 66.66%;}
    .col-9  {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
/*
=========================
      FONT SYSTEM
=========================
*/

body {font-size: 18px; color: #ffffff; font-family: 'Nanum Gothic', serif; font-weight: bold;}

[class*="title-"]{
    letter-spacing: -0.050em;
    display: inline-block;
}
.title-large {font-size: 30px;}
.title-medium {font-size: 24px;}
.title-small {font-size: 22px;}

p {letter-spacing: -0.010em; line-height: 1.8;}

/*
=========================
      BUTTON SYSTEM
=========================
*/

[class*="btn-bg-"]{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 0;
}
.btn-bg-blue {background: blue;}
.btn-bg-blue:hover {background: green;}

[class*="btn-text-"]{display: inline-block;}
.btn-text-blue {color: blue;}
.btn-text-blue:hover {color: green}


/*
=========================
    TRANSITION SYSTEM
=========================
*/

.fade {
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}


#pc_view,
#mobile_view {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-105%);
  top: 15px;
  color: #fff;
  font-size: 12px;
  background-color: transparent;
  border: 0;
  outline: 0;
}
#pc_view{
 left: 49%;
}

#mobile_view {
  transform: translateX(5%);
}

#separator {
  position: absolute;
  z-index: 1;
  left: 49.5%;
  transform: translateX(-50%);
  top: 10px;
}
