
/*공통부분*/
.sub_top{
  min-width: 1200px;
  position: relative;
  top: 100px;
  border-top: 90px solid #2dad60;
  height: 590px;
  background-image: url(../images/product_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sub_wrapper{
  position: relative;
}
.sub_gnb{
  position: relative;
}
.sub_gnb p{
  font-size: 24px;
  position: absolute;
  right: 80px;
  top: -70px;
}

.sub_gnb .company_text{
  right: 190px;
}
.sub_gnb .product_text{
  font-size: 30px;
  font-weight: bold;
  top: -75px;
  right: 350px;
}
.sub_gnb .contact_text{
  right: 80px;
}
.line{
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #fff;
  right: 320px;
  top: -55px;
}
.sub_edu{
  position: absolute;
  top: 170px;
}
.first_edu{
  font-size: 36px;
  font-weight: 500;
  line-height: 10px;
}
.second_edu{
  font-size: 52px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 58px;
}
.second_edu strong{
  color: #2dad60;
}
.third_edu strong{
  color: #2dad60;
}
.third_edu{
  line-height: 50px;
  font-weight: 500;
  font-size: 24px;
}

/*시작*/

.product_wrapper{
  min-width: 1200px;
  position: relative;
  top: 100px;
}
.product_main{
  position: absolute;
  width: 100%;
  top: 35px;
  color: #000;
}
.product_left{
  position: absolute;
  font-size: 30px;
}
.product_right{
  font-size: 24px;
  position: absolute;
  left: 150px;
  top: 5px;
}
.under_line{
  position: absolute;
  top: 7px;
  left: 125px;
  background-color: #000;
  width: 2px;
  height: 20px;
}
.under_hr{
  position: absolute;
  top: 35px;
  left: 5px;
  width: 1100px;
  height: 3px;
  background-color: #2dad60;
  border: none;
}

#tabs{
  position: relative;
  color: #999999;
  top: 150px;
}
#tabs .toggle{
  text-align: center;
  position: absolute;
  left: 15px;
  padding: 15px 0;
  font-size: 24px;
  outline: none;
  padding-top: 20px;
}
#tabs .tab_6 a{
  padding-top: 15px;
  color: #000;
}

#tabs .tab_2 a{
  left: 620px;
  font-size: 16px;
}
#tabs .tab_3 a{
  left: 350px;
  font-size: 16px;
}
#tabs .tab_1 a{
  left: 430px;
  font-size: 16px;
}
#tabs .tab_4 a{
  left: 760px;
  font-size: 16px;
}
#tabs .tab_5 a{
  left: 910px;
  font-size: 16px;
}
#tabs .tabs-menu li a:hover {
  color: #000;
}

.under_line_1{
  position: absolute;
  background-color: #000;
  width: 2px;
  height: 20px;
  top: 18px;
  left: 280px;
}
.beauty{
  position: absolute;
  top: 18px;
  width: 10px;
  height: 15px;
  background-color: #2dad60;
}
.item_list{
  position: relative;
  top: 100px;
  width: 1100px;
  text-align: center;
  font-size: 18px;
  color: #000;
  border-spacing: 0;
  border: none;
}
.item_list tr{
  height: 50px;
  font-weight: 400;
  line-height: 50px;

}
.item_list td{
  border-bottom: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}
.item_list .item-img{
  border-right: none;
}
.item_list .item-list-top{
  background-color: #e9e9e9;
  font-weight: bold;
}
.item_list tr a img{
  vertical-align: middle;
  width: 20px;
}
.cell_1{
  width: 130px;
}
.cell_2{
  width: 300px;
}
.cell_3{
  width: 110px;
}
.cell_4{
  width: 100px;
}
.cell_13{
  width: 150px;
}
.cell_15{
  width: 150px;
}
.inquiry{
  position: relative;
  top: 150px;
  right: -20px;
  border-bottom: 1px solid #000;
  padding-bottom: 100px;
  width: 550px;
}
.inquiry p{
  position: absolute;
  top: 70px;
  font-size: 16px;
  color: #000;
}
.beauty_1{
  position: absolute;
  top: 10px;
  left: -15px;
  width: 10px;
  height: 15px;
  background-color: #2dad60;
}
.inquiry .inquiry_project{
  position: absolute;
  top: 0;
  font-size: 24px;
}
.inquiry input{
  position: absolute;
  top: 65px;
  right: 0;
  outline: 0;
  background-color: #2dad60;
  border: none;
  padding: 5px 15px 8px 15px;
  color: #fff;
  font-size: 16px;
}
.source p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
}
@media (max-width:768px) {
  .under_hr{
    width: 100%;
  }
  .sub_top{
    min-width: 300px;
    border-top: 50px solid #2dad60;
    height: 400px;
  }
  .product_wrapper{
    min-width: 300px;
  }
  .sub_gnb p{
    font-size: 14px;
    right: 80px;
    top: -40px;
  }
  .sub_gnb .company_text{
    right: 80px;
  }
  .sub_gnb .product_text{
    font-size: 18px;
    top: -44px;
    right: 170px;
  }
  .sub_gnb .contact_text{
    right: 10px;
  }
  .line{
    right: 154px;
    top: -35px;
  }
  .sub_edu{
    left: 10px;
    top: 100px;
  }
  .first_edu{
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
  }
  .second_edu{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    line-height: 30px;
  }
  .third_edu{
    line-height: 30px;
    font-weight: 500;
    font-size: 12px;
  }
  /*시작*/
  .product_left{
    position: absolute;
    font-size: 24px;
    left: 10px;
  }
  .product_right{
    font-size: 18px;
    position: absolute;
    left: 140px;
    top: 5px;
  }
  .product_main{
    position: absolute;
    top: 35px;
    color: #000;
  }
  .under_line{
    position: absolute;
    top: 7px;
    left: 115px;
    background-color: #000;
    width: 2px;
    height: 15px;
  }
  #tabs{
    top: 100px;
  }
  #tabs .toggle{
    text-align: center;
    position: absolute;
    left: 26%;
    transform: translateX(-50%);
    font-size: 14px;
    outline: none;
    padding-top: 17px;
  }
  .tabs-menu {
    position: relative;
    overflow-x: scroll;
    right: -20px;
    width: 280px;
    height: 60px;
    -ms-overflow-style: none;
  }
    ::-webkit-scrollbar{
      display:none;
    }

  #tabs .tab_2 a{
    left: 125%;
    font-size: 12px;
  }
  #tabs .tab_3 a{
    width: 30px;
    left: 63%;
    font-size: 12px;
  }
  #tabs .tab_4 a{
    left: 155%;
    font-size: 12px;
    width: 110px;
  }
  #tabs .tab_5 a{
    width: 110px;
    left: 192%;
    font-size: 12px;
  }
  #tabs .tab_1 a{
    width: 130px;
    left: 90%;
    font-size: 12px;
  }
  .under_line_1{
    display: none;
    height: 10px;
    left: 150px;
    top: 18px;
  }
  .beauty{
    top: 17px;
    width: 5px;
    height: 10px;
    left: 5px;
  }
  .item_list{
    position: relative;
    top: 0px;
    width: 98%;
    text-align: center;
    font-size: 10px;
    color: #000;
    border-spacing: 0;
    border: none;
  }
  .item_list tr{
    height: 33px;
    font-weight: 400;
    line-height: 10px;
  }
  .item_list tr a img{
    padding-top: 5px;
    vertical-align: middle;
    width: 15px;
  }
  .cell_1{
    width: 47px;
  }
  .cell_2{
    width: 110px;
  }
  .cell_3{
    width: 80px;
  }
  .cell_4{
    width: 35px;
  }
  .cell_13{
    width: 70px;
  }
  .cell_14{
    width: 100px;
  }
  .cell_15{
    width: 45px;
  }
  .plus{
    padding-top: 10px;
  }
  .etc-td{
    font-size: 10px;
    line-height: 10px;
  }
  .box_none{
    display: none;
  }
  .inquiry{
      position: relative;
      top: 30px;
      right: -20px;
      padding-bottom: 70px;
      width: 275px;
    }
    .inquiry p{
      position: absolute;
      top: 45px;
      font-size: 12px;
      color: #000;
    }
    .beauty_1{
      position: absolute;
      top: 8px;
      left: -10px;
      width: 5px;
      height: 10px;
      background-color: #2dad60;
    }
    .inquiry .inquiry_project{
      position: absolute;
      top: 0;
      font-size: 18px;
    }
    .inquiry input{
      position: absolute;
      top: 40px;
      right: 0;
      outline: 0;
      background-color: #2dad60;
      border: none;
      padding: 5px 15px 8px 15px;
      color: #fff;
      font-size: 12px;
    }
}
